    {{#.}}
    <li><a href="#results/{{this.id}}"><div class="project">{{this.project}}</div><div class="breadcrumb">{{{this.bc}}}</div><div class="text">{{this.text}}</div><div class="details">{{ellipsis this.details 200 "&hellip;"}}</div></a>
<a class="action_button" href="#edit/{{this.id}}"><i class="fi-pencil large"></i></a>
</li>
    {{/.}}
