    {{#each items}}
    <li><a class="action_button" href="#edit/{{this.Issue.id}}"><i class="fi-pencil large"></i></a><a class="result-entry" href="#results/{{this.Issue.id}}"><div class="project">{{this.Project.name}}</div><div class="breadcrumb">{{{this.Issue.bc}}}</div><div class="text">{{this.Issue.text}}</div><div class="details">{{ellipsis this.Issue.details 200 "&hellip;"}}</div></a>
</li>
    {{/each}}
